.heading{
    width:100%;
    border-radius: 0px;
    box-shadow:18px 18px 18px blue;
    text-align:left;
    margin:0;
}

.heading h3{
    display:inline;
}

.heading button{
    float:right;
    border:1px solid white;
}

.big_image{
    width:100%;
}

#start, #status_of_the_game{
    font-size:23px;
}

.modal-dialog{
    width:90%;
}

.img_instructions{
    width:45%;
    display:inline-block;
}

h4{
    width:100%;
    margin:0px;
    line-height:2;
    background-color: rgb(181, 181, 181);
}

video{
    background-image : url('game_console.png');
    background-size:cover;
    background-position:center;
    padding:25px;
}